* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Gilroy-Regular, sans-serif;
}

/* Header background  */
header {
  background-color: rgb(253, 250, 250);
}
/* Header Max With  */
.max-width-container {
  max-width: 1580px;
  margin: 0 auto;
  padding: 0 80px;
  height: 70px;
}
/* Header Logo  */
.header-logo a img {
  width: 200px;
  margin-top: 15px;
}
/* Header navagation bar  */
nav {
  display: flex;
}
/* Navagation Items  */
ul.navagation {
  display: flex;
  justify-content: space-around;
  width: 80%;
  padding-left: 371px;
  margin-right: 187px;
  margin-top: 10px;
}
/* Navagation items lists */
ul.navagation a li {
  text-transform: lowercase;
  color: #000;
  text-align: right;
  padding-top: 15px;
}
ul.navagation a li:hover {
  color: #6481a4;
}

/* Navagatio User section  */
.nav-user {
  display: flex;
  justify-content: end;
}

ul.side-nav {
  display: flex;
  margin-top: -30px;
}

ul.side-nav a li img {
  width: 20px;
}
/* navagation Users Logo  */
.serch-logo,
.login-logo,
.cart-logo {
  padding-right: 12px;
}
.contactbanner {
  background-image: url(../image/25165644.jpg);
  background-repeat: round;
  background-size: cover;
  height: 426px;
}
.contactbanner h2 {
  padding-top: 190px;
  font-size: 36px;
  line-height: 1;
  letter-spacing: 1px;
  word-spacing: 0px;
  font-family: inherit;
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: bolder;
  font-style: normal;
  text-align: center;
}
.contactbanner p {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 1px;
  word-spacing: 0px;
  font-family: inherit;
  color: #fff;
  text-transform: none;
  text-decoration: none;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
.contact {
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-right: 6%;
  padding-left: 6%;
  grid-gap: 50px;
  background-color: #eff2f5;
}
.contact h2 {
  margin: 5px 0;
  padding: 0;
  font-family: Gilroy-Regular, sans-serif;
  color: #6481a4;
  font-size: 28px;
  line-height: 35px;
  font-style: normal;
  font-weight: 700;
  text-align: left;
  letter-spacing: normal;
  text-decoration: none;
}
.contact p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
  font-family: inherit;
  color: #333;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  margin: 0 0 10px;
  font-size: 18px;
  letter-spacing: normal;
}
input {
  display: block;
  width: 100%;
  padding: 0px 12px;
  margin: 10px 0px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333;
  border: 1px solid #ccc;
  height: 50px;
  margin-bottom: 12px;
  border-radius: 5px;
  background-color: #fff;
  font-family: "gilroy-bold", sans-serif;
}
textarea {
  display: block;
  width: 100%;
  padding: 0px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333;
  border: 1px solid #ccc;
  height: 100px;
  margin-bottom: 12px;
  border-radius: 5px;
  resize: none;
  background-color: #fff;
  font-family: "gilroy-bold", sans-serif;
}
form {
  background-color: white;
  padding: 17px 30px 40px 30px;
  border-radius: 5px;
}
button{
    margin: 0px 5px 0px 0px;
    padding: 13px 30px 12px;
    border-radius: 4px;
    background-color: #6481a4;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}
.footer {
    background-color: #102135;
    padding: 85px 0 25px;
    background-size: cover;
    color: white;
  }
  .fcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    max-width: 1258px;
    margin: 0 auto;
    grid-gap: 5px;
  }
  .footer img {
    width: 35px;
    height: 35px;
    margin-right: 7px;
    position: relative;
    top: 10px;
  }
  .footer h2 {
    text-transform: inherit;
    margin-bottom: 7px;
    font-size: 20px;
    line-height: 22px;
    margin-top: 10px;
    font-weight: 700;
  }
  .footer a {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 4px;
    color: white;
  }
  .footer input {
    border-radius: 2px;
    margin-top: 10px;
    padding: 0px 0px 0px 16px;
    height: 38px;
    color: rgb(0, 0, 0);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(180, 187, 195);
  }
  .newletter-signup img {
    position: relative;
    top: -48px;
    left: 257px;
  }
  
  .footer a:hover {
    color: #65778b;
  }
  .copyright {
    color: white;
    text-align: center;
    font-size: 15px;
    margin-top: 100px;
    margin-bottom: 20px;
  }
  .copyright a:hover {
    color: white;
  }
  .copyright a {
    color: white;
    font-size: 15px;
    text-decoration: underline;
  }
  